@model IndexViewModel
@{
    ViewData["Title"] = "Ourteam";
    Layout = "~/Views/Shared/_Layoutsolution.cshtml";
}


@if (Model.Teams.Count() > 0)
{
    @foreach(var item in Model.Teams){

<section id="team" class="team pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class="img-fluid"
                                             src="@item.Img"
                                             alt="card image" />
                                    </p>
                                    <h4 class="card-title">@item.name</h4>
                                    <p class="card-text">
                                        @item.name
                                    </p>
                                    <a href="@item.website"
                                       class="btn btn-primary btn-sm">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">@item.name</h4>
                                    <p class="card-text">
                                        @item.discreption
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center"
                                               target="_blank"
                                               href="@item.face">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center"
                                               target="_blank"
                                               href="@item.tele">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center"
                                               target="_blank"
                                               href="@item.Whatsapp">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center"
                                               target="_blank"
                                               href="@item.Whatsapp">
                                                <i class="fa fa-whatsapp"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}

}
else
{
    <p>no Data .....</p>
}
