@model IndexViewModel





<div class="col-12 mx-auto col-md-6 col-lg-12  all-product-category">
    <div class="row">
        
            @foreach (var singleCategoty in Model.Category)
            {
                <a asp-action="Details" asp-route-id="@singleCategoty.Id" asp-area="Customer">
                    @*@singlItem.Category.Name*@
                </a>
                <figure class="snip1104">
                    <img
                        src="@singleCategoty.CatImg"
                        alt="sample35"
                    />
                    <figcaption>
                        <h2>@singleCategoty.Discreption <span> </span></h2>
                        <h6 class="text-uppercase mb-0"> @singleCategoty.Discreption</h6>
                    </figcaption>
                    <a asp-action="Details" asp-route-id="@singleCategoty.Id"
                       asp-area="Customer">
                       
                    </a>
                 </figure>

               
                

            }
        
    </div>
</div>