@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="navigation-wrap start-header start-style">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md text-nav">


                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                <a class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   asp-area="Customer" asp-controller="Home" asp-action="Index"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false"
                                   style="font-family: 'Dancing Script', cursive;">
                                    @Localizer.GetString("Home") 
                                </a>
                                
                            </li>
                            @*<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" asp-area="Customer"
                                       asp-controller="Home" asp-action="about">about</a>
                                </li>*@
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#about" style="font-family: 'Dancing Script', cursive;">
                                    @Localizer.GetString("about")  
                                </a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Ourteam">
                                    
                                    @Localizer.GetString("Our Team") 
                                </a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   asp-area="Customer" asp-controller="Home" asp-action="ContactUs"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    
                                    @Localizer.GetString("natural Honey") 
                                </a>
                                <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#"> عسل طبيعيى</a>
                                        <a class="dropdown-item" href="#">عسل موالح </a>
                                        <a class="dropdown-item" href="#">عسل بردقوش</a>
                                        <a class="dropdown-item" href="#">عسل زهرة البرسيم</a>
                                    </div>
                            </li>

                           
                            
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" asp-area="Customer"
                                   asp-controller="Contact"
                                   asp-action="Index">
                                    
                                    @Localizer.GetString("honey") 
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" asp-area="Customer"
                                   asp-controller="Contact"
                                   asp-action="Index">
                                    
                                    @Localizer.GetString("Frozen") 
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" asp-area="Customer"
                                   asp-controller="Contact"
                                   asp-action="Index">
                                    
                                    @Localizer.GetString("Chocolate") 
                                </a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" asp-area="Customer"
                                   asp-controller="Contact"
                                   asp-action="Index">
                                    
                                    @Localizer.GetString("Offers") 
                                </a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" asp-area="Customer"
                                   asp-controller="Contact"
                                   asp-action="Index">
                                    
                                    @Localizer.GetString("Contact us") 
                                </a>
                            </li>
                           
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <partial name="_LoginPartial" />
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <language-nav view-context="ViewContext"></language-nav>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
