@model IEnumerable<ApplicationUser> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Register">
        <i class="fas fa-plus"> add user </i>
    </a>
</p>
@if (Model.Count() > 0) {
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.city)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tele)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                
                <th></th>
                <th> Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tele)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                    {
                        <a class="ti-unlock btn btn-success" asp-action="LockUnLock" asp-route-id="@item.Id"></a>
                    }
                    else
                    {
                        <a class="ti-lock btn btn-danger" asp-action="LockUnLock" asp-route-id="@item.Id"></a>
                    }

                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No Data ....</p>
}

